/* место для вашего кода */

.header {
    display: grid;
    margin: 92px 24px 24px;
    grid-template-columns: repeat(3, 1fr);
    height: 100px;
    border-width: 1px;
    border-style: solid;
    border-color: red;

}

.navigation__panel {
    margin-left: 26px;
    width: 392px;
    height: 22px;
    margin-top: 44px;
}

.list {
    display: flex;
    list-style-type: circle;
    column-gap: 29px;

}

.list li {
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
}

.list li:first-child {
    list-style-type: none;
}

.list li:nth-child(2) {
    list-style-position: outside; /* Помещаем маркеры за пределами элементов списка */
    padding-left: 3px;

}

.list li:nth-child(3) {
    margin-left: 2px;
    list-style-position: outside; /* Помещаем маркеры за пределами элементов списка */
    padding-left: 4px;

}

.header__link-list-not-decorated {
    text-decoration: none;
}

.header__address {
    display: flex;
    flex-direction: column;
    letter-spacing: normal;
    margin-left: 52px;
    margin-top: 5px;
    height: 99px;
    width: 241px;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    line-height: 25px;
    text-align: left;
    font-family: Raleway, sans-serif;
}

.header__logo-black {
    height: 105px;
    align-content: center;
    padding-right: 100px;
}


.cover {
    margin-top: 100px;
    width: 100%;
    height: 757px;
    background-image: url("../images/overlay.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.overlay {
    height: 100%;
    background-color: rgb(0 0 0/0.6);
}

.title-text {
    padding-top: 165px;
    height: 520px;
}


.title-text:nth-child(1) {
    margin-left: 50px;
}


.text-align {
    text-transform: uppercase;
    letter-spacing: 32px;
    font-size: 100px;
    font-weight: 700;
    line-height: 115%;
    display: block;
    color: rgb(255 255 255);
}

.text-align .text-align-spacing {
    padding-left: 26px;
}

.text-align-center {
    text-align: center;
    margin-right: 42px;
    margin-top: 13px;
    padding-right: 35px;
}

.text-align-center-spacing {
    margin-left: 28px;
}

.text-align-right {
    text-align: right;
    margin-right: 16px;
    margin-top: 5px;
}

.text-align-right-spacing {
    padding-left: 25px;
}

.cover-subline {
    margin-top: 109px;
    margin-left: 78px;
    font-family: Raleway, sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    text-transform: uppercase;
    color: rgb(255 255 255);
    word-spacing: 20px;
    display: flex;
}

.subline-text {
    margin-top: 40px;
}

.subline-text-second {
    padding-left: 22px;
}

.subline-text-third {
    padding-left: 22px;
}

.subline-btn {
    margin-left: 77px;
    padding-bottom: 20px;
    margin-top: 27px;
    font-family: Raleway, sans-serif;
    width: 256px;
    height: 51px;
    border: solid 1px;
    color: white;
    font-weight: 400;
    font-size: 22px;
    font-style: normal;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    background-color: transparent;
    padding-top: 10px;
}

.lots {
    margin-top: 179px;
    margin-left: 24px;
    margin-right: 24px;
    height: 692px;
}

.lots-title {
    text-transform: uppercase;
    margin-left: 40px;
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
    padding-bottom: 27px;
}


.lots__card-list {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    list-style-type: none;
    color: white;
}

.lots__card-list-item {
    width: 334px;
    height: 563px;
    position: relative;
}

.card__link{
    text-decoration: none;
    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;

}

.overlay {
    background: rgba(0, 0, 0, 0.6);
}

.card_type_film {
    background-image: url("../images/card-lot-01.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.card{
    height: 100%;
}

.card__title {
    margin: 51px 40px 40px;
}




.card__text {
    margin-left: 40px;
    margin-top: 238px;
}






